
div, table, td, pre, input {
    margin: 0;
    padding: 0;
}
pre, textarea {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
    				.border_box {
						box-sizing: border-box;
						-ms-box-sizing: border-box;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
					}
    				.row_layout .resume {
    					margin: 0 auto;
    				}
    				.row_layout .resume .photo_table {
    					border-collapse: separate;
    					border-spacing: 0;
    					table-layout: fixed;
    					width: 100%;
    				}
    				.row_layout .resume .photo_table td {
    					text-align: left;
    					vertical-align: top;
    				}
    				.row_layout .resume .photo_table td img {
    					border: 0;
    					display: block;
    				}
                
		    html body {
		        background: #f5f8f9;
		    }
    		.row_layout .resume {
                background: #fff;
                box-shadow: 2px 0 29px rgba(225, 235, 238, 0.45);
                overflow: hidden;
			}

    		.row_layout .resume .section,
    		.row_layout .resume .row {
    			position: relative;
    		}
    		.row_layout .resume .row table {
				border-collapse: separate;
				border-spacing: 0;
				table-layout: fixed;
				width: 100%;
			}
    		.row_layout .resume .row .cell pre {
    			display: block;
    			position: relative;
    			line-height: 0;
    			font-size: 0;
    		}
    		@-moz-document url-prefix() {
				.row_layout .resume .row table {
					table-layout: auto;
				}
				.row_layout .resume .row table td {
					max-width: 0;
				}
			}